
$highlighted-color: #feb048;

$first-player-gradient: linear-gradient(50deg,
  hsl(257, 38%, 30%),
  hsl(256, 36%, 42%),
  hsl(304, 40%, 43%)
);
$first-player-color: hsl(256, 36%, 42%);

$second-player-gradient: linear-gradient(50deg,
  #925078 15%,  
  #c85856 35%,  
  #ea7b5b 55%,  
  #fcd97a 100%  
);
$second-player-color: #c85856;


.nav-style {
    .navbar {
        background-color: transparent !important;
        
        
    }
    .navbar-brand {
        .navbar-item {
            padding: px;
            border-radius: 8px;
            transition: background-color 0.3s ease, border-radius 0.3s ease;

            &:hover {
                background-color: $highlighted-color;
            }
        }
    }

    .username {
        font-size: 1.3rem;
        color: white;
        font-weight: bold;
    }
    
    @media (max-width: 991px) {
        .username {
            font-size: 2.4rem;
        }
    }
}


.is-high {
    background-color: $highlighted-color !important;
}


.game-section {

    height: 100vh;

    background: linear-gradient(75deg, 
        hsl(273, 5%, 10%) 10%,
        hsl(283, 5%, 12%) 20%,
        hsl(342, 5%, 14%) 40%,
        hsl(9, 5%, 16%) 57%,
        hsl(17, 5%, 18%) 67%,
        hsl(34, 5%, 20%) 100%
    );

    .back-fp {
        background: $first-player-gradient !important;
    }

    .back-sp {
        background: $second-player-gradient !important;
    }

    .board-container {

        @media (max-width: 991px) {
            .game-board {
                margin-top: 50px !important;
            }
        }

        .game-board {

            width: 800px;

            .gb-mid {

                .super-grid {

                    .super-row {

                        .super-cell {

                            padding: 5px;

                            .won-cell {
                                width: 245px;
                                height: 245px;
                                border-radius: 10px;
                                font-weight: bold;
                                font-size: 2.2rem;
                            }

                            .won-cell.first-player {
                                background: transparent;
                                color: $first-player-color;
                                border: 5px solid $first-player-color;
                            }

                            .won-cell.second-player {
                                background: transparent;
                                color: $second-player-color;
                                border: 5px solid $second-player-color;
                            }
                            
                            .sub-grid {
                                padding: 6px;
                                border: 1px solid white;
                                border-radius: 7px;

                                .sub-row {

                                    margin: 0;

                                    .sub-cell {

                                        transition: ease-in-out 0.2s all !important;

                                        .button {
                                            transition: ease-in-out 0.2s all !important;
                                            background: #f8f9fa;
                                            margin: 1px;
                                            color: white;
                                            font-weight: bold;
                                            width: 75px;
                                            height: 75px;                                            
                                        }

                                        .button.played {
                                            cursor: not-allowed;
                                        }

                                        .btn-none.unplayed {
                                            &:not(:disabled) {
                                                &:hover {
                                                    transition: ease-in-out 0.2s all !important;
                                                    background-color: #d3d4d5;
                                                    border-color: #d3d4d5;
                                                }
                                            }
                                        }

                                        .btn-fp {
                                            transition: ease-in-out 0.2s all !important;
                                            background: $first-player-gradient;
                                            border: 3px solid $first-player-color;
                                        }

                                        .btn-fp.unplayed {
                                            &:hover {
                                                transition: ease-in-out 0.2s all !important;
                                                background: transparent;
                                                color: $first-player-color;
                                                border: 3px solid $first-player-color;
                                            }
                                        }

                                        .btn-sp {
                                            transition: ease-in-out 0.2s all !important;
                                            background: $second-player-gradient;
                                            border: 3px solid $second-player-color;
                                        }

                                        .btn-sp.unplayed {
                                            &:hover {
                                                transition: ease-in-out 0.2s all !important;
                                                background: transparent;
                                                color: $second-player-color;
                                                border: 3px solid $second-player-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}